.side-bar {
    width: 302px;
    height: 550px;
    background-color: #c4b9ac;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #362b21;

    h3 {
        font-weight: 900;
        color: #3f3225;
    }

    .algorithm-selection {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .pause-button {

        Button {
            width: 70px;
            height: 25px;
            padding: 10px 35px;
            border-radius: 10px;
            font-size: 14px;
            margin-top: 12px;
        }
    }

    .options-bar {

        Button {
            height: 30px;
            padding: 10px 35px;
            border-radius: 15px;
            font-size: 20px;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        Button {
            margin: 0 auto;
            display: block;
            margin-top: 25px;
            width: 70px;
            height: 25px;
            padding: 10px 35px;
            border-radius: 10px;
            font-size: 14px;
        }
    }
}