.button {
    color: white;
    background-color: #615447;
    border: none;
    font-weight: 700;
    box-sizing: content-box;
    cursor: pointer;
    border-radius: 0.3rem;

    &.selected {
        border: 0.25rem solid white;        
    }
}