.options-bar {
    width: 100%;
    height: fit-content;
    padding: 15px;
    margin-top: 12px;

    h4 {
        text-align: center;
        margin-top: -10px;
        margin-bottom: 17px;
    }

    & .other-config {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &.mcts {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        label {
            display: block;
            //margin-bottom: 5px;
        }

        input {
            display: block;
            margin-bottom: 10px;
        }

        .mcts-config {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
    }
}