.options-bar {
    width: 100%;
    height: fit-content;
    padding: 0.9rem;
    margin-top: 0.75rem;

    h4 {
        text-align: center;
        margin-top: -0.625rem;
        margin-bottom: 1rem;
    }

    & .other-config {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.25rem;
    }

    &.mcts {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        label {
            display: block;
            //margin-bottom: 5px;
        }

        input {
            display: block;
            margin-bottom: 0.625rem;
        }

        .mcts-config {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
    }
}