.game-board {
    width: 550px;
    height: 550px;
    background-color: #cfcccc;
    //margin: 0 auto;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    border-radius: 6px;
    gap: 18px;
    padding: 18px;
    position: relative;
    margin-left: 420px;
}