.top-board {
    //margin: 0 auto;
    width: 34rem;
    height: 14.375rem;
    margin-top: 3.125rem;
    margin-left: 26rem;
    position: relative;
    
    h1 {
        font-weight: 700;
        color: #8b7760;
        font-size: 6.25rem;
        margin: 0;
        position: absolute;
        left: 0.75rem;
        top: 0.5rem;
    }

    button {
        border-radius: 0.3rem;
        width: 7.5rem;
        height: 2.2rem;
        font-size: 1rem;
        padding: 0.25rem 0.8rem;
        position: absolute;
        right: 0.3rem;
        bottom: 2.5rem;
    }

    p {
        color: #7c766e;
        font-weight: 600;
        position: absolute;
        font-size: 1rem;
        margin: 0;
        line-height: 2.2rem;
        bottom: 2.7rem;
        left: 0.3rem;
    }

    span {
        color: #725b46;
        font-weight: 700;
    }

    .score-board {
        position: absolute;
        top: 2.625rem;
    }
}