.score-board {
    display: flex;
    gap: 0.625rem;
    width: 34rem;
    margin: 0 auto;
    justify-content: flex-end;

    .score-board-child {
        border-radius: 0.3rem;
        box-sizing: content-box;
        background-color: #c4b9ac;
        text-align: center;
        padding: 0.3rem 1.7rem;
    }

    .score-type {
        font-size: 1rem;
        font-weight: 800;
        margin: 0;
        color: #81705d;
    }

    .score {
        color: rgb(255, 255, 255);
        margin: 0;
        margin-top: -0.2rem;
        font-size: 1.3rem;
    }
}